body {
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: Arial;
    /* text-align: center; */
    align-items: center
}

label {
    color: red;
}

input {
    padding: 15px;
    margin-bottom: 10px;
    width: 200px;
    margin-right: 10px;
    display: grid;
}

div {
    display: grid;
}

.App {
    border: 1px solid;
    padding: 10px;
    background-color: antiquewhite;
    width: 20%;
    margin: 0 auto
}

.date {
    max-width: 230px;
}

.btn {
    width: 200px;
}

.component {
    margin: 0 auto
}